# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Environment
.env
*.json
venv*/
.venv/

# Dataset (download from Kaggle)
PlantVillage/
data/
*.jpg
*.jpeg
*.png

# Models (too large for git)
models/
*.h5
*.keras
*.pth
*.pt
*.bin
*.safetensors

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
*.zip
*.pptx
offload/
